<div id = "wbi-shipping-addresses-view" class="shipCarrusel">

    {{#unless addresses}}
      <div id="wbi-no-shipping-addreseses" class="addInfo"><span class="iconFont-close"></span>No tienes direcciones.</div>
    {{else}}
         <div id="wbi-shipping-addreseses-container" class="block-carrusel">
            <div class="block-wrapper">

             {{#each addresses}}
                <div class="block-slide">
                    <div class="carruselSCC-div {{#if main}}carruselSCC-selected{{/if}}">
                        <div class="shippingMenu">
                            <a href="#">edit</a>
                            <span class="iconFont-close" title="Eliminar"></span>
                        </div>
                        <h3>DIRECCIÓN {{index}}</h3>
                        <address>
                            <span>{{getContactName}}</span>
                            <span>{{street}} {{externalNumber}}, {{location}},</span>
                            <span>{{county}}, {{zipCode}}</span>
                        </address>
                        <span class="iconFont-send" title="Tu paquete será enviado a esta dirección"></span>
                        <span class="note hover">Da click aqui para establecer como dirección principal</span>
                        <input type="radio" name="shippingRadio" class="shippingRadio">
                    </div>
                </div>
             {{/each}}

            </div>
       </div>
     <span class="iconFont-left" title="Anterior"></span>
     <span class="iconFont-right" title="Siguiente"></span>
    {{/unless}}

    <div id="wbi-add-new-shipping-address" class="shippingAdd">
        <h3>AGREGAR DIRECCIÓN +</h3>
        <span class="openClose">Da click para agregar</span>
    </div>

</div>
<div id="wbi-shipping-new-address-container" class="shippingNewAddress"></div>