<div class="creditcards wb-cards-subview" id="wbi-cards-list-holder">
  <ul>
    {{#each cards}}
    <li class="creditcardItem  wb-card-list-item {{paymentMethodSupportedClass ../methods cardInfo.cardData.cardType}} {{getCardTypeClass cardInfo.cardData.cardType}} {{#if cardInfo.cardPrincipal}}creditcardSelected{{/if}}" data-notelegible="Lo sentimos. Esta compra acepta únicamente pago en efectivo o bits.">
      {{paymentMethodSupportedDiv ../methods cardInfo.cardData.cardType}}
      <div class="creditcardMenu">
        <a class="wb-edit-card-link" href="#">edit</a>
        <span class="icon closeButton wb-delete-card-link">cerrar</span>
      </div>
      <h3>Tarjeta {{getIndex @index}}</h3>
      <address>
        {{#with cardInfo.cardData}}
        <span>{{cardType}},</span>
        <span>{{accountNumber}}</span>
        <span>{{expirationMonth}}/{{expirationYear}}</span>
        {{/with}}
      </address>
      <span class="note send creditCardSend">Tu orden se pagará con esta tarjeta.</span>
      <span class="note hover">{{../cardItemLegend}}</span>
      {{hasMSI cardInfo.supportInstallments ../methods cardInfo.cardData.cardType}}
      <input type="radio" name="winbitsCCRadio" class="creditcardRadio" id="winbitsCCRadio1">
      {{!<input type="radio" name="winbitsCCRadio" class="creditcardRadio" id="winbitsCCRadio" checked="checked">}}
    </li>
    {{/each}}
    <li class="creditcardAdd">
      <h3>AGREGAR TARJETA +</h3>
      <span id="wbi-add-new-card-link">Da click para agregar</span>
    </li>
  </ul>
</div>
