<header>
    <div>
        <script src="https://h.online-metrix.net/fp/check.js?org_id={{orgId}}&amp;session_id={{merchantId}}{{orderId}}" type="text/javascript"></script>

        <p style="background:url(https://h.online-metrix.net/fp/clear.png?org_id={{orgId}}&amp;session_id={{merchantId}}{{orderId}}&amp;m=1)"></p>
        <img src="https://h.online-metrix.net/fp/clear.png?org_id={{orgId}}&amp;session_id={{merchantId}}{{orderId}}&amp;m=2" alt="" >

        <object type="application/x-shockwave-flash" data="https://h.online-metrix.net/fp/fp.swf?org_id={{orgId}}&amp;session_id={{merchantId}}{{orderId}}" width="1" height="1" id="thm_fp">
            <param name="movie" value="https://h.online-metrix.net/fp/fp.swf?org_id={{orgId}}&amp;session_id={{merchantId}}{{orderId}}" />
        </object>

        <script src="https://h.online-metrix.net/fp/check.js?org_id={{orgId}}&amp;session_id={{merchantIdInst}}{{orderId}}" type="text/javascript"></script>

        <p style="background:url(https://h.online-metrix.net/fp/clear.png?org_id={{orgId}}&amp;session_id={{merchantIdInst}}{{orderId}}&amp;m=1)"></p>
        <img src="https://h.online-metrix.net/fp/clear.png?org_id={{orgId}}&amp;session_id={{merchantIdInst}}{{orderId}}&amp;m=2" alt="" >

        <object type="application/x-shockwave-flash" data="https://h.online-metrix.net/fp/fp.swf?org_id={{orgId}}&amp;session_id={{merchantIdInst}}{{orderId}}" width="1" height="1" id="thm_fp">
            <param name="movie" value="https://h.online-metrix.net/fp/fp.swf?org_id={{orgId}}&amp;session_id={{merchantIdInst}}{{orderId}}" />
        </object>
    </div>    
  <div class="widgetWinbitsHeader">
    <div class="knowmoreFolder">
        <div class="wrapper">
            <div class="knowMoreMin">
                <p></p>
                    <div class="language">
                        <span><a href="{{verticalUrl}}" class="icon winbits19px">Logo Winbits</a></span>
                    </div>
                </div>
            </div>
      </div>
      <div class="mainHeader">
        <div class="wrapper">
        </div>
      </div>
    </div>
  </header>
  <main class="widgetWinbitsMain" style="margin-top:0px">
  <div class="wrapper checkoutWinbits" >
    <div class="checkoutMain">
      <div class="checkoutShipping">
          <h2>DIRECCIÓN DE ENVIO<span class="linkMe" id="showAddress" style="display:none">editar</span><span class="circuledNumber">1</span></h2>
        <div class="shippingAddressesContainer"></div>
      </div>
      <div class="checkoutPayment">
        <h2>INFORMACIÓN DE PAGO <span class="circuledNumber" id="circuledNumber2">2</span></h2>
        <div class="checkoutPaymentContainer chk-step" id="wbi-checkout-payment-container"></div>
      </div>
      <div class="checkoutSummary">
        <h2>RESUMEN <span class="circuledNumber" id="circuledNumber3">3</span></h2>
        <div class="checkoutSummaryContainer chk-step"></div>
      </div>
    </div>
    <aside id="order-detail">
      <h2>TU ORDEN <span class="timeCheckout"><em class="icon timer"></em><span id="wb-checkout-timer"></span></span></h2>
    </aside>
  </div>
  <div id='wbi-error-modal' class="modal hide fade">
      <i class="close-icon"></i>
      <div class="modal-body gracias reset-modal">
        <div class="contentModal" style="background-color:white">
          <p class="error-msg">Error inesperado!</p>
          <input type="button" class="btn close-modal" value="Cerrar">
        </div>
      </div>
  </div>
  <div id='wbi-ajax-modal' class="modal hide fade">
      <div class="modal-body gracias reset-modal">
        <div class="contentModal" style="background-color:white">
          <p class="loading-msg">Cargando...</p>
          <p style="text-align: center;">
            <img src="https://s3.amazonaws.com/media.hipstore.com/ajax_loader.gif" alt="Cargando...">
          </p>
        </div>
      </div>
  </div>
  <div id='wbi-expire-modal' class="modal hide fade">
        <div class="modal-body gracias reset-modal">
          <div class="contentModal" style="background-color:white">
            <p class="error-msg">Tu orden ha expirado!</p>
            <input type="button" class="btn expire-close-modal" value="Cerrar">
          </div>
        </div>
    </div>
  </main>
  <footer class="winbitsFooter">
    <div class="wrapper">&copy;<span class="iconFont-winbits"></span></div>
  </footer>
