<div class="wrapper titleTable">
  <div class="dataTable">
    <table>
      <thead>
      <tr>
        <th class="column1">Foto</th>
        <th class="column2">Descripción de Producto</th>
        <th class="column3">Comprado en</th>
        <th class="column4">Precio</th>
        <th class="column5">Cantidad</th>
        <th class="column6">Subtotal</th>
        <th class="column7">Quitar</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<div class="resumeCheckoutTable">
  <div class="wrapper">
    <div class="dataTable" id="wbi-checkout-temp-table-div">
      <table>
        <tbody>
        {{#if orderDetails}}
          {{#each orderDetails}}
            {{#with sku}}
              <tr id="wbi-order-detail-id-{{../id}}" data-id="{{../id}}">
                <td class="column1 imgProductTD"><img src="{{thumbnail}}" width="61" height="78" alt="{{name}}"></td>
                <td class="column2">{{name}}
                  <br>{{brand.name}}
                  <span>{{mainAttribute.name}}: {{mainAttribute.label}}</span>
                  {{#each attributes}}
                    <span>{{name}}: {{label}}</span>
                  {{/each}}
                </td>
                <td class="column3"><span title="{{vertical.name}}" class="iconVertical-t vertical{{vertical.id}}"></span></td>
                <td class="column4">{{formatCurrency price}}</td>
            {{/with}}
              <td class="column5">
                <select class="select wbc-item-quantity" data-clase="selectQuantity">
                  {{#eachOption min max}}
                    <option value="{{value}}" {{#compare value ../quantity}}selected{{/compare}}>{{text}}</option>
                  {{/eachOption}}
                </select>
              </td>
              <td class="column6">{{formatCurrency amount}}</td>
              <td class="column7"><a title="Quitar Item" class="iconFont-close wbc-delete-item" data-id="{{sku.id}}"></a></td>
            </tr>
          {{/each}}
        {{/if}}
        {{#if failedCartDetails}}
          {{#each failedCartDetails}}
              <tr>
                <td class="column1 imgProductTD"><img src="{{thumbnail}}" width="61" height="78" alt="{{name}}"></td>
                <td class="column2">{{name}}
                  <br>{{brand.name}}
                  <span>{{mainAttribute.name}}: {{mainAttribute.label}}</span>
                  {{#each attributes}}
                    <span>{{name}}: {{label}}</span>
                  {{/each}}
                </td>
                <td class="column3"><span title="{{vertical.name}}" class="iconVertical-t vertical{{vertical.id}}"></span></td>
                <td colspan="4" class="columnUnavailable">
                  <div>
                    <p>Lo sentimos</p>
                    <p>Este producto ya no esta disponible</p>
                  </div>
                </td>
              </tr>
          {{/each}}
        {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="totalCheckOutTemp"><span class="totalCheckOutTemp-leyend">Recuerda que puede usar tus winbits como dinero en compras. Solo mueve la moneda para aumentar la cantidad de bits que utilizas.</span>
    <div class="totalCheckOutTemp-total" id="wbi-checkout-temp-total-div">

    </div>
  </div>
</div>
