<div class="totalCheckOutTemp-timer"><span class="timeCheckout"><em class="iconFont-clock2"></em><span id="wb-checkout-timer"></span></span></div>
<div class="totalCheckOutTemp-subTotal">
  <span>SUBTOTAL</span><span><em >{{formatCurrency total}}</em></span>
  <span>ENVIO</span><span><em class="slideInput-shipping">{{formatCurrency shippingTotal}}</em></span>
  <span>GANA</span>
        <span>
          <em class="iconBit bit10px">
            <em class="iconBG"></em>
            <em class="iconFont-bit"></em>
          </em> {{cashback}}</span>
</div>
<div class="totalCheckOutTemp-subTotal">
  <span>BITS UTILIZADOS</span>
        <span>
          <em class="iconBit bit10px">
            <em class="iconBG"></em>
            <em class="iconFont-bit"></em>
          </em> {{bitsTotal}}
        </span><span class="legendCarrito">Usa tus bits como dinero en esta compra <a href="#">learn more</a></span></div>
<div class="totalCheckOutTemp-totalTotal">
  <span class="checkoutTitle">TOTAL</span>
        <span class="checkoutDetail">
          <span class="slideInput-totalPrice">{{formatCurrency orderTotal}}</span>
          {{#compare orderSaving '0' operator = '>'}}
            <span class="note">Ahorro de <span class="slideInput-save">{{formatCurrency orderSaving}}</span></span>
          {{/compare}}
        </span>
</div>
<div class="totalCheckOutTemp-checkout">
  <a class="linkBack" id="wbi-return-site-btn" ><span class="iconFont-arrowLeft"></span>Regresar</a>
  {{#if orderDetails}}
    <input type="button" value="CHECK OUT" class="btn" id="wbi-post-checkout-btn">
  {{/if}}
</div>
