  <p>Aquí encontrarás todas las marcas que has marcado como favoritas. Cuando vuelvan a alguno de nuestros sitios, te notificaremos vía e-mail.</p>
  {{#unless brands}}
    <div class="addInfo"><span class="iconFont-close"></span>No tienes marcas favoritas.</div>
  {{else}}
    {{#if brandTotal}}
    <a href="#">ver todos</a>
    {{/if}}
    <ul>
      {{#each brands}}
      <li data-id={{id}} >
        <span>{{name}}</span>
        <a class="iconFont-close wbc-delete-brand-link" title="Eliminar"></a>
      </li>
      {{/each}}
      {{#if brandsHidden}}
        {{#each brandsHidden}}
          <li data-id={{id}} style="display:none;">
            <span>{{name}}</span>
            <a class="iconFont-close wbc-delete-brand-link" title="Eliminar"></a>
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/unless}}