<div class="shippingAddresses chk-step">
  <ul>
      {{#each addresses}}
      <li class="shippingItem" id="shippingItem-{{id}}">
        <div class="shippingMenu">
          <a href="#" class="edit-address" id="editAddress-{{id}}">edit</a>
          <span class="icon closeButton delete-address" id="deleteAddress-{{id}}">cerrar</span>
        </div>
        <h3>DIRECCIÓN 1</h3>
        <address>
          <span>{{contactName}},</span>
          <span>{{street}} {{externalNumber}}, {{location}},</span>
          <span>{{zipCodeInfo.city}}, {{zipCodeInfo.id}}</span>
        </address>
        <span class="note send">Tu paquete será enviado a esta dirección</span>
        <span class="note hover">Da click aqui para establecer como dirección principal</span>
        <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio1">
      </li>
      {{/each}}
    <li class="shippingAdd">
      <h3>AGREGAR DIRECCIÓN +</h3>
      <span id="aNewAddress">Da click para agregar</span>
    </li>
  </ul>
  <input type="button"  id="btnContinuar" class="btn btnCheckout" value="Continuar">
</div>
<div class="">
      {{#each addresses}}
      <form id="shippingEditAddress-{{id}}" class="shippingEditAddress" accept-charset="utf-8" action="#" method="post" style="display:none">
    <fieldset>
      <div class="column">
        <h3>NOMBRE</h3>
        <input type="text" class="required" placeholder="Nombre" name="name" value="{{name}}"  id="winbitsShippingName">
        <input type="text" class="required" placeholder="Apellido" name="lastname" value="{{lastName}}"  id="winbitsShippingLastname">
        <input type="text" placeholder="Teléfono" name="phone" id="winbitsShippingTel" value="{{phone}}">
        {{!<input type="text" class="required" placeholder="Nombre Contacto" name="contacName" id="winbitsShippingLastname">}}
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <input type="hidden" value="1" name="country">
        <input type="hidden" value="{{id}}" name="id">
        <input type="text" placeholder="Calle" class="inputMedium required" name="street" value="{{street}}" id="">
        <input type="text" placeholder="##" class="inputSmall required" name="externalNumber" value="{{externalNumber}}" id="">
        <input type="text" placeholder="##" class="inputSmall required" name="internalNumber" value="{{internalNumber}}" id="">
        <input type="text" placeholder="Codigo Postal" name="zipCode" value="{{zipCode}}" class="zipCode" >
        <input type="hidden" name="zipCodeInfoExtra" class="zipCodeInfoExtra" value="{{zipCodeInfo.id}}">
        <select class="select zipCodeInfo" data-clase="selectRegister" name="zipCodeInfoId" placeholder="Localidad">
          <option>Localidad:</option>
        </select>
        <input type="text" placeholder="Locacion" name="location" value="{{location}}">
        <input type="text" placeholder="Indicaciones" name="indications"  value="{{indications}}">
        <input type="text" placeholder="Entre que calles" name="betweenStreets" value="{{betweenStreets}}">
        <input type="text" placeholder="Ciudad" name="city"  value="">
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" {{#if default}}checked="checked"{{/if}} name="principal" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span id="btnCancel" class="btn btnCancel">Cancelar</span>
          <input class="btn btnUpdate" id="btnUpdate-{{id}}" type="btn" value="Continuar">
        </div>
      </div>
    </fieldset>
  </form>
  {{/each}}
  <form id="shippingNewAddress" class="shippingNewAddress" accept-charset="utf-8" action="#" method="post" style="display:none">
    <fieldset>
      <div class="column">
        <h3>NOMBRE</h3>
        <input type="text" class="required" placeholder="Nombre" name="name" id="winbitsShippingName">
        <input type="text" class="required" placeholder="Apellido" name="lastname" id="winbitsShippingLastname">
        <input type="text" placeholder="Teléfono" name="phone" id="winbitsShippingTel">
        {{!<input type="text" class="required" placeholder="Nombre Contacto" name="contacName" id="winbitsShippingLastname">}}
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <input type="hidden" value="1" name="country">
        <input type="text" placeholder="Calle" class="inputMedium required" name="street" id="winbitsShippingStreet">
        <input type="text" placeholder="##" class="inputSmall required" name="externalNumber" id="winbitsShippingNumber">
        <input type="text" placeholder="##" class="inputSmall required" name="internalNumber" id="winbitsShippingNumber">
        <input type="text" placeholder="Codigo Postal" name="zipCode" id="winbitsShippingCP" class="zipCode">
        <select class="select zipCodeInfo" data-clase="selectRegister" name="location" placeholder="Localidad">
          <option>Localidad:</option>
        </select>
        <input type="text" placeholder="Locacion" name="location" >
        <input type="text" placeholder="Indicaciones" name="indications" >
        <input type="text" placeholder="Entre que calles" name="betweenStreets" >
        <input type="text" placeholder="Ciudad" name="city" >
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" name="principal" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span id="btnCancel" class="btn btnCancel">Cancelar</span>
          <input id="btnSubmit" type="btn" value="Continuar" class="btn">
        </div>
      </div>
    </fieldset>
  </form>
</div>
{{#each addresses}}
<address class="choosen-address" id="choosen-address-{{id}}" style="display:none">
  <span>{{name}} {{lastName}}</span>
    <span>{{street}} {{externalNumber}}, {{location}},</span>
    <span>{{zipCodeInfo.city}}, {{zipCodeInfo.id}}</span>
  </address>
{{/each}}
