<div class="shippingAddresses chk-step">
  <ul>
      {{#each addresses}}
      <li class="shippingItem wb-shipping-address {{#if main}}shippingSelected{{/if}}" id="shippingItem-{{id}}">
        <div class="shippingMenu">
          <a href="#" class="edit-address" id="editAddress-{{id}}">edit</a>
          <span class="icon closeButton delete-address" id="deleteAddress-{{id}}">cerrar</span>
        </div>
        <h3>DIRECCIÓN {{index}}</h3>
        <address>
          <span>{{getContactName}},</span>
          <span>{{street}} {{externalNumber}}, {{getLocation}},</span>
          <span>{{county}}, {{getZipCode}}</span>
        </address>
        <span class="note send direccionSend">Tu paquete será enviado a esta dirección</span>
        <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio1">
      </li>
      {{/each}}
    <li class="shippingAdd">
      <h3>AGREGAR DIRECCIÓN +</h3>
      <span id="aNewAddress">Da click para agregar</span>
    </li>
  </ul>
  <input type="button"  id="btnContinuar" class="btn btnCheckout" value="Continuar">
</div>
<div class="">
      {{#each addresses}}
      <form id="shippingEditAddress-{{id}}" class="shippingEditAddress" accept-charset="utf-8" action="#" method="post" style="display:none">
    <fieldset>
      <div class="column">
        <h3>CONTACTO</h3>
          <input type="text" class="required" placeholder="Nombre" name="firstName" value="{{firstName}}"  id="winbitsShippingName" maxlength="30">
          <input type="text" class="required" placeholder="Apellido(s)" name="lastName" value="{{lastName}}"  id="winbitsShippingLastname" maxlength="50">
          <input type="text" placeholder="Teléfono a 10 dígitos" name="phone" id="winbitsShippingTel" value="{{phone}}" maxlength="10">
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <input type="hidden" value="1" name="country">
        <input type="hidden" value="{{id}}" name="id">
          <textarea placeholder="Calle" class="required" name="street" maxlength="75">{{street}}</textarea>
        <div class="inputNumber">
            <input type="text" placeholder="# ext" class="required" name="externalNumber" value="{{externalNumber}}" maxlength="25" style="width: 63px;">
            <input type="text" placeholder="# int" name="internalNumber" value="{{internalNumber}}" maxlength="25" style="width: 63px;">
        </div>
        <textarea placeholder="¿Entre qué calles?" class="required" name="betweenStreets">{{betweenStreets}}</textarea>
        <textarea placeholder="Referencias para llegar" class="required" name="indications">{{indications}}</textarea>
          <input type="text" name="zipCode" placeholder="Código Postal" class="required digits zipCode" value="{{zipCode}}" maxlength="5">
          <select class="select zipCodeInfo" data-clase="selectRegister" placeholder="Localidad" name="zipCodeInfo">
          <option>Colonia/Asentamiento:</option>
          <option value="-1">Otro...</option>
        </select>
          <input type="text" placeholder="Colonia" name="location" value="{{location}}" maxlength="50" {{#if zipCodeInfo}}style="display: none;"{{/if}}>
          <input type="text" placeholder="Delegación o Municipio" name="county" value="{{county}}" readonly="" maxlength="50">
          <input type="text" placeholder="Estado" value="{{state}}" name="state" readonly="" maxlength="30">
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
          <input type="checkbox" class="checkbox" {{#if main}}checked="checked"{{/if}} name="main" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span id="btnCancel" class="btn btnCancel">Cancelar</span>
          <input class="btn btnUpdate" id="btnUpdate-{{id}}" type="button" value="Continuar">
        </div>
      </div>
    </fieldset>
  </form>
  {{/each}}
  <form id="shippingNewAddress" class="shippingNewAddress" accept-charset="utf-8" action="#" method="post" style="display:none">
    <fieldset>
      <div class="column">
        <h3>CONTACTO</h3>
        <input type="text" class="required" placeholder="Nombre" name="firstName" id="winbitsShippingName" maxlength="30">
        <input type="text" class="required" placeholder="Apellido(s)" name="lastName" id="winbitsShippingLastname" maxlength="50">
        <input type="text" placeholder="Teléfono" name="phone" id="winbitsShippingTel" maxlength="10">
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <input type="hidden" value="1" name="country">
        <textarea placeholder="Calle" class="required" name="street" maxlength="75"></textarea>
        <div class="inputNumber">
          <input type="text" placeholder="# ext" class="required" name="externalNumber" maxlength="25">
          <input type="text" placeholder="# int" name="internalNumber" maxlength="25">
        </div>
        <textarea placeholder="¿Entre qué calles?" class="required" name="betweenStreets"></textarea>
        <textarea placeholder="Referencias para llegar" class="required" name="indications"></textarea>
        <input type="text" placeholder="Código Postal" class="required digits zipCode" maxlength="5" name="zipCode">
        <select class="select zipCodeInfo" data-clase="selectRegister" placeholder="Localidad" name="zipCodeInfo">
          <option value="">Colonia/Asentamiento:</option>
        </select>
        <input type="text" placeholder="Colonia" name="location" style="display: none;" maxlength="50">
        <input type="text" placeholder="Delegación o Municipio" id="winbitsShippingCounty" name="county" readonly="" maxlength="50">
        <input type="text" placeholder="Estado" id="winbitsShippingState" name="state" readonly="" maxlength="30">
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" name="main" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span id="btnCancel" class="btn btnCancel">Cancelar</span>
          <input id="btnSubmit" type="button" value="Continuar" class="btn">
        </div>
      </div>
    </fieldset>
  </form>
</div>
{{#each addresses}}
<address class="choosen-address" id="choosen-address-{{id}}" style="display:none">
  <span>{{getContactName}}</span>
    <span>{{street}} {{externalNumber}}, {{getLocation}},</span>
    <span>{{county}}, {{getZipCode}}</span>
  </address>
{{/each}}
