<div class="shippingAddresses chk-step">
  <ul>
      {{#each addresses}}
      <li class="shippingItem {{#if default}}shippingSelected{{/if}}" id="shippingItem-{{id}}">
        <div class="shippingMenu">
          <a href="#" class="edit-address" id="editAddress-{{id}}">edit</a>
          <span class="icon closeButton delete-address" id="deleteAddress-{{id}}">cerrar</span>
        </div>
        <h3>DIRECCIÓN {{index}}</h3>
        <address>
          <span>{{getContactName}},</span>
          <span>{{street}} {{externalNumber}}, {{getLocation}},</span>
          <span>{{zipCodeInfo.county}}, {{getZipCode}}</span>
        </address>
        <span class="note send">Tu paquete será enviado a esta dirección</span>
        <span class="note hover">Da click aqui para establecer como dirección principal</span>
        <input type="radio" name="winbitsShippingRadio" class="shippingRadio" id="winbitsShippingRadio1">
      </li>
      {{/each}}
    <li class="shippingAdd">
      <h3>AGREGAR DIRECCIÓN +</h3>
      <span id="aNewAddress">Da click para agregar</span>
    </li>
  </ul>
  <input type="button"  id="btnContinuar" class="btn btnCheckout" value="Continuar">
</div>
<div class="">
      {{#each addresses}}
      <form id="shippingEditAddress-{{id}}" class="shippingEditAddress" accept-charset="utf-8" action="#" method="post" style="display:none">
    <fieldset>
      <div class="column">
        <h3>CONTACTO</h3>
        <input type="text" class="required" placeholder="Nombre" name="firstName" value="{{firstName}}"  id="winbitsShippingName">
        <input type="text" class="required" placeholder="Apellido(s)" name="lastName" value="{{lastName}}"  id="winbitsShippingLastname">
        <input type="text" placeholder="Teléfono a 10 dígitos" name="phone" id="winbitsShippingTel" value="{{phone}}">
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <input type="hidden" value="1" name="country">
        <input type="hidden" value="{{id}}" name="id">
        <textarea placeholder="Calle" class="required" name="street" value="{{street}}"></textarea>
        <div class="inputNumber">
          <input type="text" placeholder="# ext" class="required" name="externalNumber" value="{{externalNumber}}">
          <input type="text" placeholder="# int" name="internalNumber" value="{{internalNumber}}">
        </div>
        <textarea placeholder="¿Entre qué calles?" class="required" name="betweenStreets" value="{{betweenStreets}}"></textarea>
        <textarea placeholder="Referencias para llegar" class="required" name="indications"  value="{{indications}}"></textarea>
        <input type="text" placeholder="Codigo Postal" class="required digits zipCode" value="{{zipCode}}">
        <input type="hidden" name="zipCodeInfo" class="zipCodeInfoExtra" value="{{zipCodeInfo.id}}">
        <select class="select zipCodeInfo" data-clase="selectRegister" placeholder="Localidad">
          <option>Localidad:</option>
        </select>
        <input type="text" placeholder="Colonia" name="location" value="{{location}}">
        <input type="text" placeholder="Delegación o Municipio" value="{{zipCodeInfo.county}}" readonly="true">
        <input type="text" placeholder="Estado" value="{{zipCodeInfo.state}}" readonly="true">
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" {{#if default}}checked="checked"{{/if}} name="main" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span id="btnCancel" class="btn btnCancel">Cancelar</span>
          <input class="btn btnUpdate" id="btnUpdate-{{id}}" type="btn" value="Continuar">
        </div>
      </div>
    </fieldset>
  </form>
  {{/each}}
  <form id="shippingNewAddress" class="shippingNewAddress" accept-charset="utf-8" action="#" method="post" style="display:none">
    <fieldset>
      <div class="column">
        <h3>CONTACTO</h3>
        <input type="text" class="required" placeholder="Nombre" name="firstName" id="winbitsShippingName">
        <input type="text" class="required" placeholder="Apellido(s)" name="lastName" id="winbitsShippingLastname">
        <input type="text" placeholder="Teléfono a 10 dígitos" name="phone" id="winbitsShippingTel">
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <input type="hidden" value="1" name="country">
        <textarea placeholder="Calle" class="required" name="street"></textarea>
        <div class="inputNumber">
          <input type="text" placeholder="# ext" class="required" name="externalNumber">
          <input type="text" placeholder="# int" name="internalNumber">
        </div>
        <textarea placeholder="¿Entre qué calles?" class="required" name="betweenStreets"></textarea>
        <textarea placeholder="Referencias para llegar" class="required" name="indications"></textarea>
        <input type="text" placeholder="Codigo Postal" class="required digits zipCode">
        <input type="hidden" name="zipCodeInfoId" class="zipCodeInfoExtra">
        <select class="select zipCodeInfo" data-clase="selectRegister" placeholder="Localidad">
          <option>Colonia/Localidad:</option>
        </select>
        <input type="text" placeholder="Colonia" name="location" style="display: none;">
        <input type="text" placeholder="Delegación o Municipio" id="winbitsShippingCounty" readonly="true">
        <input type="text" placeholder="Estado" id="winbitsShippingState" readonly="true">
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" name="main" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span id="btnCancel" class="btn btnCancel">Cancelar</span>
          <input id="btnSubmit" type="btn" value="Continuar" class="btn">
        </div>
      </div>
    </fieldset>
  </form>
</div>
{{#each addresses}}
<address class="choosen-address" id="choosen-address-{{id}}" style="display:none">
  <span>{{getContactName}}</span>
    <span>{{street}} {{externalNumber}}, {{getLocation}},</span>
    <span>{{zipCodeInfo.county}}, {{getZipCode}}</span>
  </address>
{{/each}}
