<div class="creditcards wb-cards-subview" id="wbi-cards-list-holder">
  <ul>
    {{#each cards}}
    <li class="creditcardItem wb-card-list-item {{getCardTypeClass cardInfo.cardData.cardType}} {{#if cardInfo.cardPrincipal}}creditcardSelected{{/if}}">
      <div class="creditcardMenu">
        <a class="wb-edit-card-link" href="#">edit</a>
        <span class="icon closeButton wb-delete-card-link">cerrar</span>
      </div>
      <h3>Tarjeta {{getIndex @index}}</h3>
      <address>
        {{#with cardInfo.cardData}}
        <span>{{cardType}},</span>
        <span>{{accountNumber}}</span>
        <span>{{expirationMonth}}/{{expirationYear}}</span>
        {{/with}}
      </address>
      <span class="note send creditCardSend">Tu orden se pagará con esta tarjeta.</span>
      <span class="note hover">{{../cardItemLegend}}</span>
      {{#hasMSI cardInfo.supportInstallments ../methods cardInfo.cardData.cardType}}
      <!--<span class="mesesSinIntereses-box"> 3, 6, 9 MESES SIN INTERESES</span>-->
      {{/hasMSI}}
      <input type="radio" name="winbitsCCRadio" class="creditcardRadio" id="winbitsCCRadio1">
      {{!<input type="radio" name="winbitsCCRadio" class="creditcardRadio" id="winbitsCCRadio" checked="checked">}}
    </li>
    {{/each}}
    <li class="creditcardAdd">
      <h3>AGREGAR TARJETA +</h3>
      <span id="wbi-add-new-card-link">Da click para agregar</span>
    </li>
  </ul>
</div>
<div class="newCreditCard creditcardNew wb-cards-subview">
  <form id="wbi-new-card-form" accept-charset="utf-8" action="#" method="post" class="wb-card-form">
    <fieldset>
      <div class="column">
        <h3>NOMBRE</h3>
        <input type="text" class="required" placeholder="Nombre" maxlength="30" name="firstName" id="winbitsPaymentNewCardName">
        <input type="text" class="required" placeholder="Apellido(s)" maxlength="50" name="lastName" id="winbitsPaymentNewCardLastName">
        <div class="wb-card-number-panel">
          <input type="text" class="required wb-card-number-input" placeholder="Número de Tarjeta" maxlength="16" name="accountNumber" id="winbitsPaymentNewCardNumber">
          <span class="wb-card-logo icon"/>
        </div>
        <div class="divFechaExpiracion wb-expiration-date-div">
          <label>Fecha de vencimiento</label>
          <input type="text" class="required digits" placeholder="mm" maxlength="2" name="expirationMonth" id="winbitsPaymentNewCardDD">
          <input type="text" class="required digits" placeholder="aa" maxlength="2" name="expirationYear" id="winbitsPaymentNewCardAA">
        </div>
        <div class="divNumSecurity">
          <label for="winbitsPaymentNewCardSecurity"># de Seguridad</label>
          <input type="text" class="required digits" placeholder="###" maxlength="4" name="cvNumber" id="winbitsPaymentNewCardSecurity">
        </div>
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <input type="text" placeholder="Calle" class="required" name="street1" id="winbitsPaymentNewCardStreet">
        <input type="text" placeholder="Número" class="inputMedium required" maxlength="10" name="number" id="winbitsPaymentNewCardNumero">
        <input type="text" placeholder="Teléfono" name="phoneNumber" maxlength="10" id="winbitsPaymentNewCardTel">
        <input type="text" placeholder="Codigo Postal" name="postalCode" maxlength="5" id="winbitsPaymentNewCardCP">
        <input type="text" placeholder="Ciudad" name="city" maxlength="40" id="winbitsPaymentNewCardCity">
        <input type="text" placeholder="Estado" name="state" maxlength="40" id="winbitsPaymentNewCardState">
        <input type="hidden" placeholder="País" class="required" name="country" id="winbitsPaymentNewCardCountry" value="MX">
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" name="cardPrincipal" id="cardPrincipalNew">
        <label for="cardPrincipal" class="checkboxLabel">Hacer esta mi tarjeta principal</label>
        <p class="note">Winbits puede guardar tus tarjetas de credito por ti, para que tu proxima compra sea mucho más rápida.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span class="btn btnCancel btnPaymentCancel wb-cancel-card-form-btn">Cancelar</span>
          <input type="submit" value="Guardar" class="btn submitCheckoutPaymentNewCard wb-submit-trigger" id="wbi-save-card-form-btn">
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="newCreditCard creditcardNew wb-cards-subview">
  <form id="wbi-edit-card-form" accept-charset="utf-8" action="#" method="post" class="wb-card-form">
    <fieldset>
      <div class="column">
        <h3>NOMBRE</h3>
        <input type="text" class="required" placeholder="Nombre" maxlength="30" name="firstName" id="winbitsPaymentNewCardName" disabled="disabled">
        <input type="text" class="required" placeholder="Apellido(s)" maxlength="50" name="lastName" id="winbitsPaymentNewCardLastName" disabled="disabled">
        <div class="wb-card-number-panel">
          <input type="text" class="required wb-card-number-input" placeholder="Número de Tarjeta" maxlength="16" name="accountNumber" id="winbitsPaymentNewCardNumber" disabled="disabled">
          <span class="wb-card-logo icon"/>
        </div>
        <div class="divFechaExpiracion wb-expiration-date-div">
          <label>Fecha de vencimiento</label>
          <input type="text" class="required digits" placeholder="mm" maxlength="2" name="expirationMonth" id="winbitsPaymentNewCardDD" disabled="disabled">
          <input type="text" class="required digits" placeholder="aa" maxlength="2" name="expirationYear" id="winbitsPaymentNewCardAA" disabled="disabled">
        </div>
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
        <input type="text" placeholder="Calle" class="required" name="street1" id="winbitsPaymentNewCardStreet">
        <input type="text" placeholder="Número" class="inputMedium required" maxlength="10" name="number" id="winbitsPaymentNewCardNumero">
        <input type="text" placeholder="Teléfono" name="phoneNumber" maxlength="10" id="winbitsPaymentNewCardTel">
        <input type="text" placeholder="Codigo Postal" name="postalCode" maxlength="5" id="winbitsPaymentNewCardCP">
        <input type="text" placeholder="Ciudad" name="city" maxlength="40" id="winbitsPaymentNewCardCity">
        <input type="text" placeholder="Estado" name="state" maxlength="40" id="winbitsPaymentNewCardState">
        <input type="hidden" placeholder="País" class="required" name="country" id="winbitsPaymentNewCardCountry" value="MX">
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
        <input type="checkbox" class="checkbox" name="cardPrincipal" id="cardPrincipalUpdate">
        <label for="cardPrincipal" class="checkboxLabel">Hacer esta mi tarjeta principal</label>
        <p class="note">Winbits puede guardar tus tarjetas de credito por ti, para que tu proxima compra sea mucho más rápida.</p>
        <div class="errorDiv"><p></p></div>
        <div class="submitButton">
          <span class="btn btnCancel btnPaymentCancel wb-cancel-card-form-btn">Cancelar</span>
          <input type="submit" value="Guardar" class="btn submitCheckoutPaymentNewCard wb-submit-trigger">
        </div>
      </div>
    </fieldset>
  </form>
</div>
