<li>
  <a href="#"><img class="cart-detail-thumb" src="{{cartDetail.skuProfile.item.thumbnail}}"></a>
  <p class="descriptionItem cart-detail-name">{{cartDetail.name}}</p>
  <label>Cantidad</label>
  <input type="text" class="inputStepper cart-detail-quantity" value="{{cartDetail.quantity}}">
  <p class="priceItem cart-detail-price">{{cartDetail.skuProfile.item.vertical.name}}</p>
  <span class="verticalName">Producto de <em class="cart-detail-vertical">{{cartDetail.skuProfile.item.vertical.name}}</em></span>
  <span class="deleteItem"><a href="#" class="cart-detail-delete-link">eliminar</a></span>
</li>

