<form id="bodyModal wbi-coupon-modal-view" accept-charset="utf-8" >
    <div class="confirmationContent couponsModal">
        <h2 id="wbi-coupon-title">{{title}}</h2>
        <div class="confirmation-icon"><span class="iconFont-ticket"></span></div>
        <div class="confirmation-content">
            <h3 id="wbi-coupon-description">{{description}}</h3>

             {{#availableCoupon}}
              <table class="confirmationTable">
                  <tr>
                      <th># Cupón</th>
                      <th>Fecha expiración</th>
                      <th>Estatus</th>
                      <th class="table-download">Descarga</th>
                  </tr>
                  {{#each coupons}}
                  <tr class="wbc-coupon-data" data-id="{{id}}">
                      <td>{{code}}</td>
                      <td>{{expireCouponDate}}</td>
                        <td>Oferta lograda, tu cupón ha sido enviado a tu email.</td>
                        <td class="table-download">
                           <a class="iconFont-docPDF wbc-download-pdf-link" title="PDF"></a>
                           <a class="iconFont-docWEB wbc-download-html-link" title="Web"></a>
                        </td>
                  </tr>
                  {{/each}}
              </table>
            {{else}}
               <p>CUPONES NO DISPONIBLES</p>
            {{/availableCoupon}}
        </div>
    </div>
</form>