<form id="bodyModal wbi-coupon-modal-view" accept-charset="utf-8" >
    <div class="confirmationContent couponsModal">
        <h2>{{title}}</h2>
        <div class="confirmation-icon"><span class="iconFont-ticket"></span></div>
        <div class="confirmation-content">
            <h3>{{description}}</h3>
              <table class="confirmationTable">
                  <tr>
                      <th># Cupón</th>
                      <th>Fecha expiración</th>
                      <th>Estatus</th>
                      <th class="table-download">Descarga</th>
                  </tr>
                  {{#each coupons}}
                  <tr class="wbc-coupon-data" data-id="{{id}}">
                      <td>{{code}}</td>
                      <td>{{availableCouponDate}}</td>
                      <td>{{status}}</td>
                      <td class="table-download">
                          <a href="" class="iconFont-docPDF wbc-download-pdf-link" title="PDF"></a> {{! IMPLEMENTAR GET URL CON ID DEL CUPON VIEW HELPER}}
                          <a href="" class="iconFont-docWEB wbc-download-html-link" title="Web"></a>
                      </td>
                  </tr>
                  {{/each}}
              </table>
        </div>
    </div>
</form>