<div class="wrapper historical">
      <div class="wrapper positionRelative">
          <a id="wbi-shipping-order-link" class="oldHistory-btn btn btnCart">Ver el nuevo <strong>Historial de Compras</strong></a>
          <h2>Historial de Compras Anterior</h2>
      </div>

      <div class="oldHistory">
          <div class="wrapper">
              <p>Hemos mudado nuestra plataforma, pero conservamos para tí el registro de  tus compras y cupones. En este listado podrás consultarlos tal y como lo hacías en nuestra anterior sitio.</p>
              <p>Los nuevos pedidos los podrás consultar en la página de <a id="wbi-shipping-order-link-text" href="">Historial de Pedidos</a></p>
              <h3>MIS PEDIDOS HASTA EL 29/Septiembre/2014</h3>
              <div class="dataTable">

                  <div class="dataTable-header">
                      <span class="dataTable-old-detail">DETALLE DE LA ORDEN</span>
                      <span class="dataTable-old-status">ESTATUS</span>
                      <span class="dataTable-old-item">ITEM</span>
                      <span class="dataTable-old-desc">DESCRIPCIÓN</span>
                  </div>

                {{#if orders}}
                  {{#each orders}}
                      <div class="dataTable-fila">

                          <div class="dataTable-old-detail">
                              <p>Orden:{{orderNumber}}</p>
                              <p>Fecha de compra:{{paidDate}}</p>
                              <p>Total: ${{total}}</p>
                          </div>

                          <div class="dataTable-old-status">
                              <p>{{shippingStatusMessage}}</p>
                          </div>

                          <div class="dataTable-old-item">
                              {{#each skus}}
                                <img src="{{getUrl url ext}}" width="80" alt="{{name}}">
                              {{/each}}
                          </div>

                          <div class="dataTable-old-desc">
                              {{#each skus}}
                                {{#unless coupons}}
                                <p>{{{shortDescription}}}</p>
                                {{else}}
                                    <a href="#"> Ver cupones </a>
                                {{/unless}}
                              {{/each}}
                          </div>

                      </div>
                  {{/each}}
                {{/if}}

              </div>
          </div>
      </div>
      <input id="wbi-old-orders-history-btn-back" type="submit" value="Back to site" class="btn btnBackToSite">
</div>