<div class="accordeonSelectDiv">
    <form id="orderHistoryFilterForm" accept-charset="utf-8" action="#" method="post">
      <select class="select orderHistoryFilter" data-clase="selectRegister" name="status">
        {{#select status}}
          <option value="">Estatus</option>
          <option value="4">Pagadas</option>
          <option value="3">Pendientes</option>
          <option value="7">Reembolsadas</option>
        {{/select}}
      </select>

      <select class="select orderHistoryFilter" data-clase="selectRegister" name="sort">
        {{#select sort}}
          <option value="">Ordenar por...</option>
          <option value="dateCreated">Fecha de compra</option>
          <option value="orderNumber">Número de orden</option>
          <option value="status.name">Estatus</option>
        {{/select}}
      </select>
    </form>
  </div>
  <div class="dataTable">
    <table>
      <thead>
      <tr>
        <th class="width25">DESCRIPCIÓN</th>
        <th class="width10">FOTO</th>
        <th class="width30">DESCRIPCIÓN DEL PRODUCTO</th>
        <th class="width5">CANT.</th>
        <th class="widht10">ESTATUS</th>
        <th class="width10"># DE RASTREO</th>
        <th class="width10">SITIO</th>
      </tr>
      </thead>
      <tbody>

        {{#each orders}}
          {{#withFirstOrderDetail}}
          <tr class="{{firstDetailRowClass}}">
            <td>
              <p>Orden: {{../orderNumber}}</p>
              <p>Fecha de compra: {{../dateOfPurchase}}</p>
              <p>Estatus: {{../status}} </p>
              <p>Total: {{../total}} </p>
            </td>
            <td>
              <img src="{{thumbnail.url}}" width="62" height="79" alt="{{name}}" />
            </td>
            <td>
              <strong>{{name}}</strong>
              <strong>{{brand}}</strong>
              <p>{{attributeName}}: {{attributeLabel}}</p>
              {{#each attributes}}
                <p>{{name}}: {{label}}</p>
              {{/each}}
            </td>
            <td>{{quantity}}</td>
            <td>{{status}}</td>
            <td><a href="#">{{tracingNumber}}</a></td>
            <td><a href="{{vertical.baseUrl}}">{{vertical.name}}</a></td>
          </tr>
          {{/withFirstOrderDetail}}

          {{#withRestOfOrderDetails}}
          {{!-- TODO: usar clase css lastItemOrder y quitar primer <td> cuando arreglen el markup para soportar ordenes con mas de 2 details --}}
          <tr class="firstItemOrder">
            <td>{{!-- Quitame cuando el TODO se quite --}}</td>
            <td>
              <img src="{{thumbnail.url}}" width="62" height="79" alt="{{name}}" />
            </td>
            <td>
              <strong>{{name}}</strong>
              <strong>{{brand}}</strong>
              <p>{{attributeName}}: {{attributeLabel}}</p>
              {{#each attributes}}
                <p>{{name}}: {{label}}</p>
              {{/each}}
            </td>
            <td>{{quantity}}</td>
            <td>{{status}}</td>
            <td><a href="#">{{tracingNumber}}</a></td>
            <td>
              <a href="{{vertical.baseUrl}}">
                <img src="{{vertical.logo}}"  alt="{{vertical.name}}" />
              </a>
            </td>
          </tr>
          {{/withRestOfOrderDetails}}
        {{/each}}
      </tbody>
    </table>
</div>