<div class="accordeonSelectDiv">
  <select class="select" data-clase="selectRegister">
    <option>Ordenar por...</option>
    <option>Item 1</option>
    <option>Item 2</option>
    <option>Item 3</option>
    <option>Item 4</option>
  </select>
</div>
<div class="dataTable totalBitsTable">
  <table>
    <thead>
    <tr>
      <th>TOTAL</th>
      <th>BITS</th>
      <th>FECHA</th>
      <th>VENCIMIENTO</th>
      <th>CONCEPTO</th>
    </tr>
    </thead>
    <tbody>
    <tr class="totalBits">
      <td rowspan="{{transactionsSize}}">$ {{balance}} Bits</td>
    </tr>
      {{#each transactions}}
        {{#compare amount 0 operator=">"}}
        <tr>
          <td>${{amount}} </td>
          <td>{{toDefaultDateFormat dateCreated}}</td>
          <td>{{toDefaultDateFormat expirationDate}}</td>
          <td>{{concept}}</td>
        </tr>
        {{else}}
        <tr>
          <td class="minusBits">- ${{abs amount}} </td>
          <td>{{toDefaultDateFormat dateCreated}}</td>
          <td>-</td>
          <td>{{concept}}</td>
        </tr>
        {{/compare}}
      {{/each}}
    </tbody>
  </table>
</div>