<div class="accordeonSelectDiv">
    <form id="orderHistoryFilterForm" accept-charset="utf-8" action="#" method="post">
      <select class="select orderHistoryFilter" data-clase="selectRegister" name="status">
        {{#select status}}
          <option value="">Estatus</option>
          <option value="4">Pagadas</option>
          <option value="3">Pendientes</option>
          <option value="7">Reembolsadas</option>
        {{/select}}
      </select>

      <select class="select orderHistoryFilter" data-clase="selectRegister" name="sort">
        {{#select sort}}
          <option value="">Ordenar por...</option>
          <option value="dateCreated">Fecha de compra</option>
          <option value="orderNumber">Número de orden</option>
          <option value="status.name">Estatus</option>
        {{/select}}
      </select>
    </form>
  </div>
  <div class="dataTable">
    <div class="dataTable-header">
      <span class="dataTable-desc">DESCRIPCIÓN</span>
      <span class="dataTable-photo">FOTO</span>
      <span class="dataTable-prod">DESCRIPCIÓN DEL PRODUCTO</span>
      <span class="dataTable-cant">CANT.</span>
      <span class="dataTable-status">ESTATUS</span>
      <span class="dataTable-num"># DE RASTREO</span>
      <span class="dataTable-site">SITIO</span>
    </div>
    {{#each orders}}
    <div class="dataTable-fila">
      <div class="dataTable-desc">
        <p>Orden: {{orderNumber}}</p>
        <p>Fecha de compra: {{dateOfPurchase}}</p>
        <p>Estatus: {{status}} </p>
        <p>Total: {{total}} </p>
      </div>
      <div class="dataTable-bodyItems">
        {{#each details}}
        <div class="dataTable-item">
          <div class="dataTable-photo">
            <img src="{{thumbnail.url}}" width="62" height="79" alt="{{name}}" />
          </div>
          <div class="dataTable-prod">
            <strong>{{name}}</strong>
            <strong>{{brand}}</strong>
            <p>{{attributeName}}: {{attributeLabel}}</p>
            {{#each attributes}}
              <p>{{name}}: {{label}}</p>
            {{/each}}
          </div>
          <div class="dataTable-cant">
            {{quantity}}
          </div>
          <div class="dataTable-status">
            {{!--status--}}
            En Almacén
          </div>
          <div class="dataTable-num">
            <a href="#">{{tracingNumber}}</a>
          </div>
          <div class="dataTable-site">
            <a class="icon" href="{{vertical.baseUrl}}">
              {{#if vertical.logo}}
                <img src="{{vertical.logo}}"  alt="{{vertical.name}}" />
              {{else}}
                {{vertical.name}}
              {{/if}}
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
</div>