<div class="accordeonSelectDiv">
  <form id="waitingListFilterForm" accept-charset="utf-8" action="#" method="post">
    <select class="select waitingListFilter" data-clase="selectRegister" name="statusWaitingList">
      {{#select statusWaitingList}}
        <option value="">Estatus</option>
        <option value="1">Agotado</option>
        <option value="2">Disponible</option>
        <option value="3">No disponible</option>
      {{/select}}
    </select>
    <select class="select waitingListFilter" data-clase="selectRegister" name="siteWaitingList">
      {{#select siteWaitingList}}
        <option value="">Sitio ...</option>
        <option value="1">clickOnero</option>
        <option value="2">Looq</option>
        <option value="3">Sportlet</option>
      {{/select}}
    </select>
  </form>
</div>
<div class="dataTable">
  <table>
    <thead>
    <tr>
      <th class="width15">FOTO</th>
      <th class="width30">DESCRIPCIÓN DEL PRODUCTO</th>
      <th class="width10">SITIO</th>
      <th class="widht10">ESTATUS</th>
      <th class="width10">ELIMINAR</th>
      <th class="width25">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {{#each waitingListItems}}
    <tr class="itemWaitingList">
      <td>
        <img src="{{skuProfile.image.url}}" width="62" height="79" alt="{{skuProfile.name}}" />
      </td>
      <td>
        <strong>{{skuProfile.name}}</strong>
        <strong>{{skuProfile.marca}}</strong>
        <p>{{skuProfile.mainAttribute.name}} : {{skuProfile.mainAttribute.label}}</p>
        {{#each skuProfile.attributes}}
          <p>{{name}} : {{label}}</p>
        {{/each}}
      </td>
      <td><a href="{{skuProfile.vertical.baseUrl}}"><img src="{{skuProfile.vertical.logo}}" alt="{{skuProfile.vertical.name}}"/></a></td>
      <td>
        {{#getStyleByStatus status}}
        {{/getStyleByStatus}}
      </td>
      <td><a href="#" class="icon closeButton deleteWaitingListItem" id="waitingList-{{skuProfile.id}}">Eliminar</a></td>
      <td>&nbsp;</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</div>