{{#unless cards}}
<div id="wbi-no-cards-panel" class="addInfo"><span class="iconFont-close"></span>No tienes tarjetas.</div>
{{else}}
<div id="wbi-cards-carousel" class="block-carrusel">
    <div class="block-wrapper">
        {{#each cards}}
        <div class="block-slide">
            <div class="carruselSCC-div wbc-card {{#if cardInfo.cardPrincipal}}carruselSCC-selected{{/if}}" data-id="{{cardInfo.subscriptionId}}">
               <div class="creditcardMenu">
                    <a href="#" class="wbc-edit-card-link">editar</a>
                    <span class="iconFont-close wbc-delete-card-link" title="Eliminar"></span>
                </div>
                <h3 class="wbc-card-index">Tarjeta {{getIndex @index}}</h3>
                <address>
                    {{#with cardInfo.cardData}}
                    <span class="wbc-card-type">{{cardType}},</span>
                    <span class="wbc-card-number">{{accountNumber}}</span>
                    <span class="wbc-expiration-date">{{expirationMonth}}/{{substr expirationYear start=2 length=2}}</span>
                    {{/with}}
                </address>
                <span class="iconFont-creditcard" title="Tu orden se pagará con esta tarjeta"></span>
                <span class="note hover">Da clic aqui para establecer como tarjeta principal</span>
                {{!-- <span class="mesesSinIntereses-box">MESES SIN INTERESES</span> --}}
                <input type="radio" name="winbitsCCRadio" class="creditcardRadio" id="winbitsCCRadio1">
            </div>
        </div>
        {{/each}}
    </div>
</div>
<span class="iconFont-left" title="Anterior"></span>
<span class="iconFont-right" title="Siguiente"></span>
{{/unless}}
<div class="creditcardAdd">
    <h3>AGREGAR TARJETA +</h3>
    <span id="wbi-new-card-link" class="openClose"  data-showdiv=".creditcardNew" data-hidediv=".ccCarrusel">Da clic para agregar</span>
</div>
