<div class="wrapper historical" id="historical">
<input type="submit" value="Back to site" class="btn btnBackToSite">
<div class="accordeonWinbits">
<h2>Historial de Compras<span class="icon plusIcon">+</span></h2>
<div class="accordeonContent">
  <div class="accordeonSelectDiv">
    <form id="orderHistoryFilterForm" accept-charset="utf-8" action="#" method="post">
      <select class="select orderHistoryFilter" data-clase="selectRegister" name="status">
        {{#select status}}
        <option>Estatus</option>
        <option value="4">Pagadas</option>
        <option value="3">Pendientes</option>
        <option value="7">Reembolsadas</option>
        {{/select}}
      </select>

      <select class="select orderHistoryFilter" data-clase="selectRegister" name="sort">
        {{#select sort}}
        <option>Ordenar por...</option>
        <option value="dateCreated">Fecha de compra</option>
        <option value="orderNumber">Número de orden</option>
        <option value="status.name">Estatus</option>
        {{/select}}
      </select>
    </form>
  </div>
  <div class="dataTable">
    <table>
      <thead>
      <tr>
        <th class="width25">DESCRIPCIÓN</th>
        <th class="width10">FOTO</th>
        <th class="width30">DESCRIPCIÓN DEL PRODUCTO</th>
        <th class="width5">CANT.</th>
        <th class="widht10">ESTATUS</th>
        <th class="width10"># DE RASTREO</th>
        <th class="width10">SITIO</th>
      </tr>
      </thead>
      <tbody>

      {{#each orders}}
        {{#withFirstOrderDetail}}
          <tr class="{{firstDetailRowClass}}">
            <td>
              <p>Orden: {{../orderNumber}}</p>
              <p>Fecha de compra: {{../dateOfPurchase}}</p>
              <p>Estatus: {{../status}} </p>
              <p>Total: {{../total}} </p>
            </td>
            <td>
              <img src="{{thumbnail.url}}" width="62" height="79" alt="{{name}}" />
            </td>
            <td>
              <strong>{{name}}</strong>
              <strong>{{brand}}</strong>
              <p>{{attributeName}}: {{attributeLabel}}</p>
              {{#each attributes}}
                <p>{{name}}: {{label}}</p>
              {{/each}}
            </td>
            <td>{{quantity}}</td>
            <td>{{status}}</td>
            <td><a href="#">{{tracingNumber}}</a></td>
            <td><a href="{{vertical.baseUrl}}">{{vertical.name}}</a></td>
          </tr>
        {{/withFirstOrderDetail}}

        {{#withRestOfOrderDetails}}
          {{!-- TODO: usar clase css lastItemOrder y quitar primer <td> cuando arreglen el markup para soportar ordenes con mas de 2 details --}}
          <tr class="firstItemOrder">
            <td>{{!-- Quitame cuando el TODO se quite --}}</td>
            <td>
              <img src="{{thumbnail.url}}" width="62" height="79" alt="{{name}}" />
            </td>
            <td>
              <strong>{{name}}</strong>
              <strong>{{brand}}</strong>
              <p>{{attributeName}}: {{attributeLabel}}</p>
              {{#each attributes}}
                <p>{{name}}: {{label}}</p>
              {{/each}}
            </td>
            <td>{{quantity}}</td>
            <td>{{status}}</td>
            <td><a href="#">{{tracingNumber}}</a></td>
            <td>
              <a href="{{vertical.baseUrl}}">
                <img src="{{vertical.logo}}"  alt="{{vertical.name}}" />
              </a>
            </td>
          </tr>
        {{/withRestOfOrderDetails}}
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
<h2>Historial de Bits<span class="icon plusIcon">+</span></h2>
<div class="accordeonContent">
  <div class="accordeonSelectDiv">
    <select class="select" data-clase="selectRegister">
      <option>Ordenar por...</option>
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
    </select>
  </div>
  <div class="dataTable totalBitsTable">
    <table>
      <thead>
      <tr>
        <th>TOTAL</th>
        <th>BITS</th>
        <th>FECHA</th>
        <th>VENCIMIENTO</th>
        <th>CONCEPTO</th>
      </tr>
      </thead>
      <tbody>
      <tr class="totalBits">
        <td rowspan="{{transactionsSize}}">$ {{balance}} Bits</td>
      </tr>
        {{#each transactions}}
        <tr>
          <td>$ {{amount}} </td>
          <td>{{dateCreated}}</td>
          <td>{{expirationDate}}</td>
          <td>{{concept}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<h2>Lista de Espera<span class="icon plusIcon">+</span></h2>
<div class="accordeonContent">
  <div class="accordeonSelectDiv">
    <select class="select" data-clase="selectRegister">
      <option>Estatus</option>
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
    </select>
    <select class="select" data-clase="selectRegister">
      <option>Ordenar por...</option>
      <option>Item 1</option>
      <option>Item 2</option>
      <option>Item 3</option>
      <option>Item 4</option>
    </select>
  </div>
  <div class="dataTable">
    <table>
      <thead>
      <tr>
        <th class="width15">PHOTO</th>
        <th class="width30">DESCRIPCIÓN DEL PRODUCTO</th>
        <th class="width10">SITE</th>
        <th class="widht10">ESTATUS</th>
        <th class="width10">ELIMINAR</th>
        <th class="width25">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr class="itemWaitingList">
        <td>
          <img src="winbitsInclude/images/assets/blackDress-small.jpg" width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" />
        </td>
        <td>
          <strong>LACE OFF THE SHOULDER DRESS</strong>
          <strong>Pull &amp; Bear</strong>
          <p>color: black</p>
          <p>size: small </p>
        </td>
        <td><a href="#" class="icon looqLogoSmall">looq</a></td>
        <td>Esperando</td>
        <td><a href="#" class="icon closeButton">Eliminar</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr class="itemWaitingList">
        <td>
          <img src="winbitsInclude/images/assets/blackDress-small.jpg" width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" />
        </td>
        <td>
          <strong>LACE OFF THE SHOULDER DRESS</strong>
          <strong>Pull &amp; Bear</strong>
          <p>color: black</p>
          <p>size: small </p>
        </td>
        <td><a href="#" class="icon looqLogoSmall">looq</a></td>
        <td><a href="#" class="availableWish">Ya disponible</a></td>
        <td><a href="#" class="icon closeButton">Eliminar</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr class="itemWaitingList">
        <td>
          <img src="winbitsInclude/images/assets/blackDress-small.jpg" width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" />
        </td>
        <td>
          <strong>LACE OFF THE SHOULDER DRESS</strong>
          <strong>Pull &amp; Bear</strong>
          <p>color: black</p>
          <p>size: small </p>
        </td>
        <td><a href="#" class="icon looqLogoSmall">looq</a></td>
        <td>Esperando</td>
        <td><a href="#" class="icon closeButton">Eliminar</a></td>
        <td>&nbsp;</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<h2>Favoritos<span class="icon plusIcon">+</span></h2>
<div class="accordeonContent">
  <div class="favoriteBrands">
    <p>Aqui encontraras todas las marcas que haz marcado como favoritas, cuando vuelvan a alguno de nuestros sitios, te notificaremos via e-mail.</p>
    <ul>
      <li>
        <span>NIKE</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>TOMMY</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>BROOKS BROTHE...</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>REEBOOK</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>TOSHIBA</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>ADIDAS</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>STEVE MAIDEN</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>MARC JACOBS</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>SAMSUNG</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
      <li>
        <span>ADIR</span>
        <a href="#" class="icon closeButton">Eliminar</a>
      </li>
    </ul>
  </div>
</div>
</div>
<input type="submit" value="Back to site" class="btn btnBackToSite">
</div>
