<h2>DIRECCIÓN DE ENVIO</h2>
{{#if street}}
  <div class="miDireccion">
    <h3 class="address-contact-name">{{getContactName}}</h3>
    <address>
      <span class="address-street">{{street}} {{formatAddressNumber}},</span>
      <span class="address-location">Col. {{getLocation}}</span>
      <span class="address-state">Del. {{zipCodeInfo.county}},</span>
      <span class="address-zip-code">C.P. {{getZipCode}}</span>
      <span class="address-phone">tel. {{phone}}</span>
    </address>
    <ul>
      <li><a href="#" class="changeAddressBtn"><em class="icon changeAdress"></em> Cambiar Dirección</a></li>
    </ul>
    <input id="editBtnAddress" class="btn editBtn" value="Editar">
  </div>
{{else}}
  <div class="miDireccion">
    <h4>No has ingresado ninguna dirección de envío aún.</h4>
    <a href="#">+ Agregar Dirección</a>
  </div>
{{/if}}
<input type="submit" class="btn editBtn" value="Editar">
