 <table>
        <thead>
        <tr>
            <th>TOTAL</th>
            <th>WINBITS</th>
            <th>FECHA</th>
            <th>VENCIMIENTO</th>
            <th>CONCEPTO</th>
        </tr>
        </thead>
        <tbody>
        {{#each transactions}}
            {{#compare @index 0}}
            <tr class="totalBits">
                <td rowspan="20"><span class="iconFont-bit"></span> {{formatWithComma balance}} Winbits</td>
                {{#compare amount 0 operator=">"}}
                        <td><span class="iconFont-bit"></span> {{amount}} </td>
                {{else}}
                        <td class="minusBits"><span class="iconFont-bit"> </span>-${{abs amount}} </td>
                {{/compare}}
                <td>{{toDateFormat dateCreated}}</td>
                <td>{{toDateFormat expirationDate}}</td>
                <td>{{concept}}</td>
            </tr>
            {{else}}
              {{#compare amount 0 operator=">"}}
                 <tr>
                    <td><span class="iconFont-bit"> </span>{{amount}} </td>
                    <td>{{toDateFormat dateCreated}}</td>
                    <td>{{toDateFormat expirationDate}}</td>
                    <td>{{concept}}</td>
                  </tr>
              {{else}}
                  <tr>
                      <td class="minusBits"><span class="iconFont-bit"> </span>-{{abs amount}} </td>
                      <td>{{toDateFormat dateCreated}}</td>
                      <td>--</td>
                      <td>{{concept}}</td>
                  </tr>
              {{/compare}}
            {{/compare}}
        {{/each}}
        </tbody>
</table>

