<form id="wbi-complete-register-form" accept-charset="utf-8" action="#" method="post">
  <div class="mainModal completaRegistro">
    <div class="contentModal">
      <fieldset class="leftModal wbc-complete-register-select">
        <span class="icon winbits23px">winbits</span>
        <h1>COMPLETA TU REGISTRO Y GANA BITS!</h1>
        <h3>Si completas tu registro con nosotros, obtendrás ${{cashbackForComplete}} bits que podras utilizar desde tu primera compra.</h3>
        <input type="text" placeholder="Nombre" name="name" value="{{name}}">
        <input type="text" placeholder="Apellido" name="lastName" value="{{lastName}}">
        <div class="fieldsetDiv divBirthday">
          <label>Cumpleaños</label>
          <input type="text" name= "wbi-birthdate-day" id= "wbi-birthdate-day" class="wbc-day" maxlength="2" placeholder="dd" value="{{substr birthdate start=8 length=2}}">
          <input type="text" name= "wbi-birthdate-month" id= "wbi-birthdate-month" class="wbc-month" maxlength="2" placeholder="mm" value="{{substr birthdate start=5 length=2}}">
          <input type="text" name= "wbi-birthdate-year" id= "wbi-birthdate-year" class="wbc-year" maxlength="2" placeholder="aa" value="{{substr birthdate start=2 length=2}}">
        </div>
        <div class="fieldsetDiv divGender">
          <label>Género</label>
          <input type="radio" value="H" class="wbc-gender-male" name="gender" {{#compare gender 'male'}}checked="checked"{{/compare}}>
          <input type="radio" value="M" class="wbc-gender-female" name="gender" {{#compare gender 'female'}}checked="checked"{{/compare}}>
        </div>
        <div>
        <input type="text" placeholder="Código Postal" maxlength="5" name="zipCode" class="zipCode" value="{{zipCode}}">
        <select class="select zipCodeInfo" value="{{#if zipCodeInfo}}{{zipCodeInfo.id}}{{/if}}" data-location="{{location}}" data-clase="selectRegister" name="zipCodeInfo">
        </select>
        </div>
        {{!<input type="text" id="winbitsProfilePhone" name="phone" placeholder="Teléfono" value="{{phone}" maxlength="15">}}
        <div class="errorDiv" style="display: none;"><p></p></div>
        <input type="submit" class="btn btnGuardar" value="Guardar" id="wbi-complete-register-btn">
        <p>Si así lo deseas, puedes completar tu registro después haciendo clic en la sección de MI CUENTA. <br>
          <a href="#logged-in" id="wbi-complete-register-after-link" class="wb-hash-link">Llenalo despues.</a></p>
      </fieldset>
      <aside class="asideModal">
        {{!--<p>USA TU CUENTA WINBITS <br>EN TODOS ESTOS SITIOS:</p>
        <ul>
          {{#eachActiveVertical}}
            <li><a href="{{baseUrl}}" class="iconVertical-r vertical{{id}}" title="{{name}}"></a></li>
          {{/eachActiveVertical}}
        </ul>
        <span>UNA MISMA CUENTA, UN SÓLO LOGIN<br>Y EN TODOS GANAS WINBITS</span>--}}
          <div class="am-div"><span class="am-span am-win">Ahora clickOnero es parte de Winbits.</span><span class="am-span am-register">Regístrate y gana <br> tus primeros <span class="am-span am-bits">100 </span>Winbits.</span>
              <div class="winbit-color iconWinbits130px"><span class="iconFont-winbits"></span><span class="iconBG firstI"></span><span class="iconBG secondI"></span></div><span class="am-span am-buy">Compra más</span><span class="am-span am-save">gastando menos</span>
          </div>
      </aside>
    </div>
  </div>
</form>
