<div class="column miCuenta-profile" xmlns="http://www.w3.org/1999/html">
  <form method="post" action="#" accept-charset="utf-8" id="wbi-personal-data-form">
    <h3>DATOS PERSONALES</h3>
    <span>  {{email}}</span>
    <input type="text" name="name" placeholder="Nombre" class="requiredField" value="{{name}}" data-requiredfield="Nombre Requerido">
    <input type="text" id="winbitsProfileLastname" name="lastName"  class="requiredField" placeholder="Apellido" value="{{lastName}}" data-requiredfield="Apellido Requerido">

    <div class="divBirthday requiredField" data-requiredfield="Fecha de Nacimiento Requerido">
      <label>Cumpleaños</label>
      <input type="text" class="wbc-day" maxlength="2" placeholder="dd" value="{{substr birthdate start=8 length=2}}">
      <input type="text" class="wbc-month" maxlength="2" placeholder="mm" value="{{substr birthdate start=5 length=2}}">
      <input type="text" class="wbc-year" maxlength="2" placeholder="aa" value="{{substr birthdate start=2 length=2}}">
    </div>
    <div class="divGender requiredField" data-requiredfield="Género Requerido">
      <label>Género</label>
      <input type="radio" value="H" name="gender" {{#compare gender 'male'}}checked="checked"{{/compare}}>
      <input type="radio" value="M" name="gender" {{#compare gender 'female'}}checked="checked"{{/compare}}>
    </div>
    <input type="text" placeholder="Código Postal" maxlength="5" required name="zipCode" class="zipCode" value="{{zipCode}}">
    <select class="select zipCodeInfo" data-clase="selectRegister" data-inputselect="true" name="zipCodeInfo">
      <option value="">Colonia/Asentamiento:</option>
    </select>
    <input type="text" id="winbitsProfilePhone" name="phone" placeholder="Teléfono" value="{{phone}}">
    <input type="button" value="Guardar" class="btn editBtn" id="wbi-update-profile-btn">
  </form>

</div>
<div class="column miCuenta-password">
  <form method="post" action="#" accept-charset="utf-8" id="wbi-change-password-form">
    <h3>CAMBIAR PASSWORD</h3>
    <input type="password" name="password" class="requiredField"
           placeholder="Password Actual" data-requiredfield="Password Actual Requerido">
    <input type="password" name="newPassword" class="requiredField"
           placeholder="Nuevo Password" data-requiredfield="Nuevo Password Requerido">
    <input type="password" name="passwordConfirm"
           placeholder="Confirmar Nuevo Password">
    <input type="button" value="Guardar" class="btn editBtn" id="wbi-change-password-btn">
  </form>
</div>
<div class="column" id="wbi-social-media-panel">
  <h3>REDES SOCIALES</h3>

  <p><a href="#"><span class="icon fbCircle"></span>Liga tu cuenta de facebook</a></p>

  <p><a href="#"><span class="icon twCircle"></span>Liga tu cuenta de twitter</a></p>
</div>