<div class="column miCuenta-profile" xmlns="http://www.w3.org/1999/html">
  <form method="post" action="#" accept-charset="utf-8" id="miCuenta-profile" novalidate="novalidate">
    <h3>DATOS PERSONALES</h3>
    <input type="text" id="winbitsProfileName" name="winbitsProfileName" placeholder="Nombre" value="{{name}}">
    <input type="text" id="winbitsProfileLastname" name="winbitsProfileLastname" placeholder="Apellido" value="{{lastName}}">
    <input type="text" id="winbitsProfileEmail" name="winbitsProfileEmail" placeholder="Correo Electrónico" value="{{email}}">

    <div class="divBirthday">
      <label>Cumpleaños</label>
      <input type="text" id="winbitsProfileDD" name="winbitsProfileDD" maxlength="2" placeholder="dd" value="{{substr birthdate start=8 length=2}}">
      <input type="text" id="winbitsProfileMM" name="winbitsProfileMM" maxlength="2" placeholder="mm" value="{{substr birthdate start=5 length=2}}">
      <input type="text" id="winbitsProfileAA" name="winbitsProfileAA" maxlength="2" placeholder="aa" value="{{substr birthdate start=2 length=2}}">
    </div>
    <div class="divGender">
      <label>Género</label>
      <input type="radio" value="H" name="gender" id="winbitsProfileH" {{#compare gender 'male'}}checked="checked"{{/compare}}>
      <input type="radio" value="M" name="gender" id="winbitsProfileM"  {{#if isFemale}}checked="checked"{{/if}}>
    </div>
    <input type="text" placeholder="Código Postal" id="zipCode" maxlength="5" required name="zipCode" class="zipCode" value="{{zipCode}}">
    <select class="select zipCodeInfo" data-clase="selectRegister" data-inputselect="true" name="zipCodeInfo">
      <option value="">Colonia/Asentamiento:</option>
    </select>
    <input type="text" id="winbitsProfilePhone" name="winbitsProfilePhone" placeholder="Teléfono" value="{{phone}}">
    <input type="submit" value="Guardar" class="btn editBtn">
    <input id="wbi-fetch" type="button" value="Fetch!" class="btn editBtn">
  </form>

</div>
<div class="column miCuenta-password">
  <form method="post" action="#" accept-charset="utf-8" id="miCuenta-password" novalidate="novalidate">
    <h3>CAMBIAR PASSWORD</h3>
    <input type="password" id="winbitsPasswordActual" name="winbitsPasswordActual" class="required"
           placeholder="Password Actual">
    <input type="password" id="winbitsPasswordNew" name="winbitsPasswordNew" class="required"
           placeholder="Nuevo Password">
    <input type="password" id="winbitsPasswordNewAgain" name="winbitsPasswordNewAgain" class="required"
           placeholder="Confirmar Nuevo Password">
    <input type="submit" value="Guardar" class="btn editBtn">
  </form>
</div>
<div class="column">
  <h3>REDES SOCIALES</h3>

  <p><a href="#"><span class="icon fbCircle"></span>Liga tu cuenta de facebook</a></p>

  <p><a href="#"><span class="icon twCircle"></span>Liga tu cuenta de twitter</a></p>
</div>