<form id="wbi-edit-shipping-address-form" class="shippingEditAddress" data-id={{id}}>
    <fieldset>
      <div class="column">
        <h3>CONTACTO</h3>
          <input type="text" class="required" placeholder="Nombre" name="firstName" value="{{firstName}}"  id="winbitsShippingName" maxlength="30">
          <input type="text" class="required" placeholder="Apellido paterno" name="lastName" value="{{lastName}}"  id="winbitsShippingLastname" maxlength="50">
          <input type="text" placeholder="Apellido materno" name="lastName2" value="{{lastName2}}"  id="winbitsShippingLastname2" maxlength="50">
          <input type="text" placeholder="Teléfono a 10 dígitos" name="phone" id="winbitsShippingTel" value="{{phone}}" maxlength="10">
      </div>
      <div class="column">
        <h3>DIRECCIÓN</h3>
          <textarea placeholder="Calle" class="required" name="street" maxlength="75">{{street}}</textarea>
        <div class="inputNumber">
            <input type="text" placeholder="# ext" class="required" name="externalNumber" value="{{externalNumber}}" maxlength="25" style="width: 63px;">
            <input type="text" placeholder="# int" name="internalNumber" value="{{internalNumber}}" maxlength="25" style="width: 63px;">
        </div>
        <textarea placeholder="¿Entre qué calles?/Referencias para llegar" class="required" name="indications">{{indications}}</textarea>
        <div>
          <input type="text"  placeholder="Codigo Postal" name="zipCode" class="required" data-requiredfield="Codigo Postal Requerido" maxlength="5" value={{zipCode}}>
          <input type="text" placeholder="Estado" name="state" class="required" data-requiredfield="Requerido" disabled="disabled" readonly="readonly" value={{state}}>
          <input type="text" placeholder="Delegación o Municipio" name="city" class="required" data-requiredfield="Requerido" disabled="disabled" readonly="readonly" value={{city}}>
          <select id="wbi-shipping-address-zip-code-info" name="zipCodeInfo" class="select required" data-requiredfield="Requerido" data-clase="selectRegister" data-inputselect="true" value="{{#if zipCodeInfo}}{{zipCodeInfo.id}}{{/if}}"  {{#if location}}data-location="{{location}}"{{/if}}></select>
        </div>
      </div>
      <div class="column columnLarge">
        <h3>OPCIONES</h3>
          <input type="checkbox" class="checkbox" {{#if main}}checked="checked"{{/if}} name="main" id="winbitsShippingPrincipal">
        <label for="winbitsShippingPrincipal" class="checkboxLabel">Hacer esta mi dirección principal</label>
        <p class="note">Winbits puede salvar tu dirección para que en tu próxima visita tus compras sean más faciles de realizar.</p>
        <div id="wbi-edit-shipping-address-error" class="errorDiv" style="display: none"><p></p></div>
        <div class="submitButton">
          <span id="wbi-add-shipping-address-cancel-btn" class="btn btnCancel">Cancelar</span>
          <input class="btn btnUpdate" id="wbi-edit-shipping-address-submit-btn" type="button" value="Continuar">
        </div>
      </div>
    </fieldset>
  </form>
