<span class="carritoRight-title">P.Original</span>
<span id="wbi-cart-items-total" class="carritoRight-item">{{formatCurrency itemsFullTotal}}</span>
<span class="carritoRight-title">P.Winbits</span>
<span id="wbi-cart-subtotal" class="carritoRight-item">{{formatCurrency itemsTotal}}</span>
<span class="carritoRight-title blueSave">Ahorro</span>
<span id="wbi-cart-saving" class="carritoRight-item blueSave">{{formatCurrency cartSaving}}</span>
<span class="carritoRight-title">Envío</span>
<span id="wbi-cart-shipping-cost" class="carritoRight-item">{{formatCurrency shippingTotal}}</span>
<p class="carritoRight-total">
    <span class="carritoRight-title">Total</span>
    <span id="wbi-cart-total" class="carritoRight-item">{{formatCurrency cartTotal}}</span>
</p>
