<form id="wbi-update-profile-form">
    <fieldset>
        <input type="text" placeholder="Nombre" class="required" name="name" maxlength="75" value="{{name}}">
        <input type="text" placeholder="Apellido" class="required" name="lastName" maxlength="75" value="{{lastName}}">
        <div class="fieldsetDiv divBirthday">
            <label>Cumpleaños</label>
            <input type="text" placeholder="dd" maxlength="2" class="day-input" value="{{substr birthdate start=8 length=2}}">
            <input type="text" placeholder="mm" maxlength="2" class="month-input" value="{{substr birthdate start=5 length=2}}">
            <input type="text" placeholder="aa" maxlength="2" class="year-input" value="{{substr birthdate start=2 length=2}}">
            <input type="hidden" name="birthdate" value="{{birthdate}}">
        </div>
        <div class="fieldsetDiv divGender">
            <label>Género</label>
            <input type="radio" name="gender" value="H" class="male">
            <input type="radio" name="gender" value="M" class="female">
        </div>
        <input type="text" placeholder="Código Postal" id="zipCode" maxlength="5" required name="zipCode" class="zipCode" value="{{zipCode}}">


        <select class="select zipCodeInfo" data-clase="selectRegister" data-inputselect="true" name="zipCodeInfo">
            <option value="">Colonia/Asentamiento:</option>
        </select>

        <input type="text" placeholder="Colonia" name="location" value="{{location}}" maxlength="50" {{#showColony zipCodeInfo zipCode}}{{/showColony}}>
        <input type="text" placeholder="Teléfono" name="phone" maxlength="10" value="{{phone}}">

        <div class="errorDiv"><p></p></div>
        <input id="wbi-updateBtnProfile" type="button" class="btn editBtn" value="Guardar">
        <a href="#" class="linkBack">Regresar</a>
    </fieldset>
</form>